@import "~@blueprintjs/core/lib/scss/variables.scss";

:global {
  body{
    font-family: 'Roboto';
    margin: 0;
  }

  p {
    font-size: 20px;
  }
}

.callout {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: $pt-grid-size * 4;
}

@media only screen and (max-width: 1024px) {
  .callout {
    font-size: 28px;
    margin-bottom: $pt-grid-size * 2;
  }
}

.red {
  font-weight: 600;
  color: $red5;
}
